<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg
    name="dobot" />
  <arg
    name="gui"
    default="True" />
  <param
    name="robot_description"
    textfile="$(find dobot_description)/urdf/dobot_model.xacro" />
  <param
    name="use_gui"
    value="$(arg gui)" />

  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui">
    <param name="use_gui" value="TRUE"/>
  </node>

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find dobot_description)/config/config.rviz"/>
</launch>

